<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login to <%= shopData.shopName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="page-login">
  <h1>Login</h1>
  <form method="POST" action="/users/login" class="form-login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/users/register">Register here</a></p>
  <p><a href="/">Back to home</a></p>
</body>
</html>
