<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search in <%= shopData.shopName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="page-search">
  <h1>Search <%= shopData.shopName %></h1>
  <form method="GET" action="/books/search-result" class="form-search">
    <label for="keyword">What book are you looking for?</label>
    <input type="text" id="keyword" name="keyword" required autofocus>
    <button type="submit">Search</button>
  </form>
  <p><a href="/">Back to home</a></p>
</body>
</html>
