/* Reset / Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
}

body {
  padding: 20vh 30vw; 
}


body > * {
  max-width: 40vw;
  margin: 0 auto;  
}

/* Headings */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Links */
a {
  color: #c57702;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Forms */
label {
  display: block;
  margin-bottom: .5rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
button {
  width: 100%;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus,
button:focus {
  outline: none;
  border-color: #c57702;
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.3);
}

button {
  background-color: #c57702;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

